:root {
    --main-border-colour: #ddd;
    /* --primary-background-colour: #f8f8f8;
    --secondary-background-colour: #ececec; */
    --primary-background-colour: #eee;
    --secondary-background-colour: #2e6cd1;
    --primary-brand-colour: #eee;
}

.form-header {
    text-align: center;
    font-weight: 900;
}

/* 
* Login Form
*/
form#form {
    text-align: center;
}

form div.formField {
    padding: 0.2em;
    /* box-sizing: ; */
}

form div.formField input {
    border: none;
    border-bottom: #000 solid 1.5px;
    width: 30%;
    padding: 0.7em;
    transition: 0.4s;
}

form div.formField input:focus {
    border: var(--secondary-background-colour) solid 2px;
    border-radius: 0.5em;
    width: 40%;
}

form input#login-button {
    width: 20%;
    padding: 0.7em;
    background: var(--secondary-background-colour);
    color: #fff;
    border: var(--secondary-background-colour) solid 1px;;
    border-radius: 1em/1em;
    transition: 0.3s;
}

form input#login-button:hover {
    background: #fff;
    color: var(--secondary-background-colour);
    
}

div#register-link {
    text-align: center;
    padding-top: 5px;
}