/* 
* Login Form
*/
form#loginForm {
    text-align: center;
}

form div.formField {
    padding: 1em;
}

form input#login-button {
    width: 20%;
    padding: 0.7em;
    background: #b00;
    color: #fff;
    border: none;
    border-radius: 1em/1em;
}