/* 
* General
*/

:root {
    --main-border-colour: #ddd;
    /* --primary-background-colour: #f8f8f8;
    --secondary-background-colour: #ececec; */
    --primary-background-colour: #eee;
    --secondary-background-colour: #2e6cd1;
    --primary-brand-colour: #eee;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
    html {
    font-size: 9.411764705882353px;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* 
* Links
*/

a {
    color: #2e6cd1;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* Google font import */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background: var(--primary-background-colour);
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #000 !important;
    padding: 0;
    }

/* 
* Navbar
*/
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    display: inline-block;
    background: var(--secondary-background-colour) !important;

}

.navbar .navbar-header a.navbar-brand h1 {
    margin-top: -8px;
    color: var(--primary-brand-colour);
}

.navbar ul.nav li a#login-button {
    color: var(--secondary-background-colour);
    text-decoration: none;
    font-weight: bolder;
    background: var(--primary-background-colour);
    border: 1.5px solid var(--main-border-colour);
    margin:  0.5em;
    padding: 0.5em 1em;
    border-radius: 35%/50%;
}

.navbar ul.nav li a#login-button:hover {
    color: var(--primary-background-colour);
    background: rgba(0,0,0,0);
}

.navbar nav ul.nav li #logout-button {
    color: var(--primary-background-colour);
    text-decoration: none;
    background: var(--secondary-background-colour);
    border: none;
    padding-top: 0.2em;
    /* margin-bottom: -0.2em; */
    font-size: 2.4em;
    align-self: center;
}

/* 
* inner body
*/
#body {
    height: 91%;
}

/* 
* Jumbotron
*/
.jumbotron {
    text-align: center;
}

/* 
* Footer
*/
footer {
    background: #101010;
    color: whitesmoke;
    padding: 1em 0.5em;
}

footer a {
    color: whitesmoke;
    text-decoration: underline;
}

footer a:hover {
    color: var(--secondary-background-colour);
    text-decoration: underline;
}

footer .row div {
    text-align: center;
}
